# Node.js
node_modules/
build/
dist/
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# macOS
.DS_Store

# GitHub Pages
gh-pages/

# Optional VS Code (si jamais tu switches d'IDE)
.vscode/
